.grid { 
  display: grid;
 
 grid-template-areas:
"header header header"
"nav content content";
 grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: nav;
}
.content {
  grid-area: content;
}


.ColorPicker{
  width: 400px;
  padding: 10px;
  border: 1px solid black;
}
.ColorPicker__option{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 4px;
  border: none;

  transition: transform 250ms linear;
}

.ColorPicker__option--active{
  transform: scale(1.2);
  border:1px solid black;
}